[submodule "Transformers-for-NLP-and-Computer-Vision-3rd-Edition"]
	path = Transformers-for-NLP-and-Computer-Vision-3rd-Edition
	url = https://github.com/Denis2054/Transformers-for-NLP-and-Computer-Vision-3rd-Edition.git
